@import '~bulma/sass/utilities/variables';

.comp-hero {

  margin-top: 150px;

  display        : flex;
  align-items    : center;
  justify-content: center;

  .wrapper, .button {
    max-width : 50%;
    text-align: center;
  }

  .title.is-1 {
    color: $purple!important;
  }

  .title, .subtitle {
    text-align: center;
  }

  .columns.first {
    margin-top:50px;
  }

  .columns {
    margin-top:20px;
  }

  .copyright {
    margin-top: 100px;
  }
}