<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <title><%= title %></title>
  </head>

  <body>
    <div id="app">
      <h1>Need App Body</h1>
    </div>
    <footer></footer>
  </body>
</html>
