<!DOCTYPE html>
<html>
  <head>
    <% if(mode == "development") { %>
      <link rel="shortcut icon" type="image/png" href="http://localhost:6767/assets/shared/images/favicon.png"/>
    <% } %>
    <title><%= title %></title>
  </head>
  <body>
    <div id="app"></div>
    <footer>
      <% if(mode == "development") { %>
        <script src="http://localhost:6767/assets/vendor.js"></script>
        <script src="http://localhost:6767/assets/index.bundle.js"></script>
      <% } %>
    </footer>
  </body>
</html>