<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <title><%= title %></title>
  </head>

  <body>
    <div id="app"><%- markup %></div>

    <footer>

      <script>
        window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
      </script>
     
      <!-- dev mode -->
      <script src="http://localhost:6768/webpack-dev-server.js"></script>
      <script src="http://localhost:6768/assets/vendor.js"></script>
      <script src="http://localhost:6768/assets/view.bundle.js"></script>
    </footer>
  </body>
</html>
