.comp-control-pane {
  .comp-progress-indicator  {
    .modal-content {
      text-align: center;
      color     : #fff;
      overflow  : visible;

      .title.is-1 {
        color: #FFF
      }
    }
  }
  .comp-save-success-modal  {
    text-align: center
  }
}